.vagrant
Berksfile.lock
cookbooks/
Gemfile.lock
.bundle/
.htaccess
*.log
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/
wp-content/bakups/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
